<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration and Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
    background: linear-gradient(to right, rgb(4, 127, 204), rgb(201, 244, 255)); /* Gradient from blue to green */
}

        .container {
            margin-top: 100px;
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
        .vertical-line {
    border-left: 5px solid grey; /* You can adjust the color and style of the line */
    height: 100%; /* Ensures the line stretches to match the height of the columns */
}

    </style>
</head>

<body>
    <nav style="background-color: rgba(255, 255, 255, 0.9); " class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DropBucket</a>

    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div id="loginForm" class="form-container">
                    <h2>Login</h2>
                    <form action="/auth/login" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="UserName" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label>Login As:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="userRadio" value="user" checked>
                                <label class="form-check-label" for="userRadio">User</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="adminRadio" value="admin">
                                <label class="form-check-label" for="adminRadio">Admin</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <div id="loginMessage"></div>
                </div>
            </div>

            <div class="col-md-6 vertical-line">
                <div id="registrationForm" class="form-container">
                    <h2>Register</h2>
                    <form action="/auth/register" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="UserName" name="UserName" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="FirstName" name="FirstName" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="LastName" name="LastName" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label>Register As:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="userRadio" value="user" checked>
                                <label class="form-check-label" for="userRadio">User</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="adminRadio" value="admin">
                                <label class="form-check-label" for="adminRadio">Admin</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <div id="registrationMessage"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
